version: '3.7'

services:

  db:
    image: mysql:8
    container_name: users-service.db
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: user-service
    restart: unless-stopped
    ports:
      - "3307:3306"
    volumes:
      - users-service.dbdata:/var/lib/mysql/
    networks:
      - users-service

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - users-service

  app:
    build:
      context: ./../../users-service/
      dockerfile: ./../etc/docker/php.Dockerfile
    container_name: users-service.app
    command: php -S users-service.app:8080 -t ./api/public
    restart: unless-stopped
    ports:
      - "8080:8080"
    tty: true
    env_file:
      - ./../../users-service/.env
    volumes:
      - ./../../users-service/:/var/www
    depends_on:
      - db
    networks:
      - users-service

networks:
  users-service:
    driver: bridge

volumes:
  users-service.dbdata:
    driver: local
